<h1>Index page of Portfolio</h1>

<%# <a href="portfolios/new">Create New Item</a> %>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>


<%# Manual partial in rails %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>


