<div class="album text-muted jack">
  <div class="container">
    <div id="portfolios" class="row sortable" data-url="<%= sort_portfolios_path %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>


