<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Jack Van</h3>
    <nav class="nav nav-masthead">
      <%= render "shared/shared_nav_main"%>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>