  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Eager to develope meaningful apps <em>with implementing good web develping technique and so on.</em></p>
    </div>
 
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
         <ol class="list-unstyled social-links">
                <li><a href="https://github.com/VanBawi"><%= fa_icon "github" %></a></li>
                <li><a href="https://www.instagram.com/jackte1500/"><%= fa_icon "instagram" %></a></li>
                <li><a href="https://www.facebook.com/jack.te.9"><%= fa_icon "facebook" %></a></li>
                <%# <li><a href=""><%= fa_icon "twitter" %></a></li> 
        </ol>
    </div>
    </div>