<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Permanant Address</h3>

    <p>Jalan Sanpeng, Pudu, Kuala Lumpur Malaysia</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "018 2548 024" %></p>

    <h3>Email</h3>

    <p><a href="mailto:vanthabawiuk@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.8543719007876!2d101.71011245092073!3d3.1331567541118654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc3621897cea47%3A0x4ac932e081a95917!2s18%2C%20Jalan%20San%20Peng%2C%20Pudu%2C%2055200%20Kuala%20Lumpur%2C%20Wilayah%20Persekutuan%20Kuala%20Lumpur!5e0!3m2!1sen!2smy!4v1582363935567!5m2!1sen!2smy" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>

